<!-- <!DOCTYPE html>
<html>
<body>

<h2>User Profile</h2>

<form>
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email"><br><br>
  <label for="bio">Bio:</label><br>
  <input type="text" id="bio" name="bio"><br><br>
  <input type="checkbox" id="active" name="active" value="Active">
  <label for="vehicle1">Active</label><br>

  <input type="submit" value="Submit">
</form> 

</body>
</html> -->

<form [formGroup] = "profileForm">
  Value: {{ profileForm.value | json }}

  <div class="form-group">
      <label for name="name">Name:</label>
      <input formControlName ="name" type ="text" id ="name" class ="form-control">
  </div>
  <div class="form-group">
      <label for="email">Email:</label><br>
      <input formControlName ="email" type="text" id="email" name="email" class ="form-control"><br><br>
  </div>
  <div class="form-group">
      <label for="bio">Bio:</label><br>
      <input formControlName ="bio" type="text" id="bio" name="bio" class ="form-control"><br><br>
  </div>
  <div class="form-group">
      <input formControlName ="active" type="checkbox" id="active" name="active" value="Active" class ="form-control">
      <label for="active">Active</label><br>
  </div>

  <button type="submit" class="btn btn-success" >Submit</button>
</form> 