<!DOCTYPE html>
<html>
<body>

<h2>User Profile</h2>

<form>
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email"><br><br>
  <label for="bio">Bio:</label><br>
  <input type="text" id="bio" name="bio"><br><br>
  <input type="checkbox" id="active" name="active" value="Active">
  <label for="vehicle1">Active</label><br>

  <input type="submit" value="Submit">
</form> 

</body>
</html>